<h3>View Users</h3>

<table class="table table-ordered" *ngIf="user">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{user.id}}</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{user.name}}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{user.email}}</td>
        </tr>
        <tr>
            <th>

            </th>
            <td>
                <button type="button" class="btn btn-danger" (click)="deleteUser()">Delete</button> &nbsp;
                <button type="button" class="btn btn-success" routerLink="/listtask">Back</button>
            </td>
        </tr>
    </tbody>
</table>