<h1>Register Account</h1>
<hr>
<style>
    h1{
        text-align: center;
    }
    p{
        text-align: center;
    }
    label{
        display: inline-block;
        width: 150px;
        text-align: left;
        margin-bottom: 20px;
    }
    button{
        display: inline-block;
        width: 150px;
        text-align: center;
        margin-right: 40px;
        margin-left: 30px;
    }
    div {
        text-align: center;
    }
</style>
<div>
    <label for="Name"><b>Name</b></label>
    <input type="text" name="Name" id="Name" placeholder="Enter Name" required>
    <br>

    <label for="Email"><b>Email</b></label>
    <input type="text" name="Email" id="Email" placeholder="Enter Email" required>
    <br>

    <label for="psw"><b>Password</b></label>
    <input type="password" name="psw" id="psw" placeholder="Enter Password" required>
    <br>

    <button type="submit" class="submitbtn">Submit</button>
    <button type="submit" class="resetbtn">Reset</button>
</div>